*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 15px;
}
 ::-webkit-scrollbar-thumb{
   border-radius: 10px;
  background-color: #707070;
   border-radius: 10px; 
 }
::-webkit-scrollbar-track {
  background: #C1C1C1; 
  border-radius: 10px;
}
 
